body {
    color: #b5509a;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background: rgb(225, 221, 222);
    height: 100%;
    overflow-x: hidden;
}

h2{
    margin-top: 20px;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #b5509a;
    font-size: 16px;
}

.overlay {
    height: 100vh;
    width: 100vw;

}

.container {
    width: 100%;
    width: 90%;
    margin: auto;
}

.navbar {
    color: #664b78;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.social {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social>a:link{
    color: #664b78;
}

.social>a:hover{
    color: #b5509a;
    cursor: pointer
}


.content-1 {
    margin-top: 20vh;
    width: 100%;
}

.content-1>h1 {
    font-weight: 600;
    /* letter-spacing: 1.2px; */
    font-size: 34px;
}

.content-1>h1>span {
    color: #664b78;
}

.content-2>p {
    color: #664b78;

}

.front-page {
    height: 100vh;
}



.internal-box {
    
    border-radius: 25px;
    background-color: #f1f1f1;

  display: flex;
  justify-content: center;
  margin-top:20px;
  margin-bottom:20px;
  padding: 10px;
}

.internal-box > div {
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 16px;
}

.company{width:20%;}
.work{width:70%;}



.section-x{
    color: #664b78;
    font-size: 20px;
    text-align: center;
    margin-bottom: 100px;
} 







book-list {
    background: rgb(225, 221, 222);
}


@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3000px);
            transform: translateX(-3000px);
  }
}
.slider {
    overflow: hidden;
  width: 100% !important;
}

.slider .slide-track {
  -webkit-animation: scroll 70s linear infinite;
          animation: scroll 70s linear infinite;
  display: flex;
  width: 9999px;

}
.slider .slide {
    margin-left: 20px;
    margin-right: 20px;
}


#platitudes > p:hover{
    cursor: pointer;
  transition: transform 1s;
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25); 

}

#platitudes > p > a:link{
    color: #b5509a;
    text-decoration:none;
}






#photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}


#photos img {
/*    object-fit: cover;*/
  /* Just in case there are inline attributes */
/*  width: 100% !important;
  height: auto !important;*/
/*    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;  
*/
    width:100%; 
/*    height:auto; 
    object-fit:cover;*/
    image-orientation:0deg;    
}   

img:hover {
  transition: transform 1s;
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25); 
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    6;
  -webkit-column-count: 6;
  column-count:         6;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}


.content-4 {
    text-align: center;
}

.bg-bottom {
    height: 50vh;
    background: url('./images/top_background.jpg');
    background-repeat: no-repeat;
    background-size: 190% 100%;
    background-position: center center;
}


@media only screen and (min-width:1024px) {

    .bg-top {
        background: url('./images/bottom_background.jpg');
        background-repeat: no-repeat;
        background-size: 70% 100%;
        background-position: center center;
    }

    .bg-bottom {
        height: 330px;
        background: url('./images/top_background.jpg');
        background-repeat: no-repeat;
        background-size: 70% 100%;
        background-position: center center;
    }

    .content-1 {
        margin-top: 30vh;
        width: 100%;
    }

    .content-1>h1 {
        width: 100%;
    }

.slider {

  width: 50%;

}    

}



.falling-leaves {
    background: rgb(225, 221, 222) no-repeat center center;
}

.leaf-scene {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: 100vw;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.leaf-scene div {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url("./images/leaf.svg") no-repeat;
    background-size: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}